[general]
state_file = /var/awslogs/state/agent-state

[apache]
datetime_format = [%Y-%m-%dT%H:%M:%S.%f]
log_group_name = <%= @apache_group_name %>
file = /var/log/apache2/error.log
log_stream_name = <%= node[:opsworks][:instance][:hostname] %>
