[general]
state_file = /var/awslogs/state/agent-state

[<%= @rails_group_name %>]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= @rails_group_name %>
file = <%= @log_file %>
log_stream_name = <%= node[:opsworks][:instance][:hostname] %>
